section.landing-tour {
  /* Start Special Styles For The Pyramid Header */
  h1.pyramid {
    color: $pyramid-color;
  }
  .pyramid-footer {
    background-color: $pyramid-color;
  }
  /* End Special Styles For The Pyramid Header */

  /* Start Special Styles For The Turkey Header */
  h1.turkey {
    color: $turkey-color;
  }
  .turkey-footer {
    background-color: $turkey-color;
  }
  /* End Special Styles For The Turkey Header */

  /* Start General Styles For The Two Pages */
  .header {
    .container {
      padding-left: 0;
      padding-right: 0;
    }
    .navbar-brand {
      margin-left: 0;
    }
  }

  .content {
    h1 {
      text-align: center;
      font-family: 'Cairo', 'DroidKufi', sans-serif;
      margin-bottom: 0;
    }
    p, ol {
      text-align: right;
      font-family: 'DroidKufi', 'ArefRuqaa', 'Cairo', sans-serif;
      margin-right: auto;
      margin-left: auto;
      width: 75%;
      margin-top: 1.5rem;
    }
    ol {
      padding-right: 17px;
      li::marker, span {
        font-family: 'Cairo', 'DroidKufi', sans-serif;
        font-weight: bold;
        color: $turkey-color;
      }
    }
  }

  .slider {
    img {
      height: 714px;
    }
    .carousel-control-prev, .carousel-control-next {
      width: 0;
    }
    .carousel-control-prev {
      right: -20px;
    }
    .carousel-control-next {
      left: -20px;
    }
    .arrow {
      font-size: 30px;
      color: $black-color;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
.active-arrow {
  opacity: 1;
}
// Start Responsive
@media (max-width: 1400px)  {
  section.landing-tour {
    .slider {
      img {
        height: 650px;
      }
    }
  }
}
@media (max-width: 1200px)  {
  section.landing-tour {
    .slider {
      img {
        height: 550px;
      }
    }
  }
}
@media (max-width: 991px)  {
  section.landing-tour {
    .slider {
      img {
        height: 450px;
      }
    }
  }
}
@media (max-width: 768px)  {
  section.landing-tour {
    .slider {
      img {
        height: 350px;
      }
    }
  }
}
@media (max-width: 575px)  {
  section.landing-tour {
    .slider {
      img {
        height: 300px;
      }
    }
  }
}
@media (max-width: 420px)  {
  section.landing-tour {
    .content {
      h1 {
        font-size: 23px;
      }
    }
    .slider {
      img {
        height: 200px;
      }
    }
  }
}
/* Start General Styles For The Two Pages */